@font-face {
    font-family: pixel;
    src: url(fonts/PressStart2P-Regular.ttf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffa7a8; /* Aggiunto uno sfondo grigio per visualizzare meglio la barra di ricerca */
}

nav {
    text-align: center;
}

nav input[type="text"] {
    background-color: #ffa7a8;
    padding: 25px; /* Aumentato il padding per ingrandire ulteriormente */
    margin: 10px;
    border: 5px solid white; /* Aggiunto il bordo nero */
    border-radius: 0px;
    font-size: 20px; /* Aumentato il font-size */
    color: white;
    font-family: pixel;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
